{% extends "app/layout.html" %}

{% block content %}
 <div class="container-text ">
        <div class="row">
            <div class="col-md-12">
                <h1 class= "news-title">О нас</h1>
                <p class=" border lead text-center mb-4">
                    Добро пожаловать на наш сайт — ваше уникальное место для погружения в мир игр! Мы — команда энтузиастов, которые живут и дышат видеоиграми. Наша миссия — предоставить вам доступ к лучшим играм, новинкам и классике, чтобы каждый мог найти что-то по душе.
                </p>
                <p class="border lead text-center mb-4 ">
                    На нашем сайте вы найдете широкий ассортимент игр для всех платформ: от ПК и консолей до мобильных устройств. Мы тщательно отбираем каждую игру, чтобы вы могли наслаждаться качественным контентом и незабываемыми впечатлениями.
                </p>
                <p class="border lead text-center mb-4 ">
                    Мы ценим наших клиентов и стремимся сделать процесс покупки максимально удобным и безопасным. Наша команда поддержки всегда готова помочь вам с любыми вопросами и проблемами.
                </p>
                <p class="border lead text-center mb-4">
                    Присоединяйтесь к нашему сообществу игроков и откройте для себя новые миры, приключения и эмоции. С нами игра становится еще интереснее!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
