{% extends "app/layout.html" %}

{% block content %}
<div class="container-text ">
        <div class="row">
<div class="col-md-12">
               <h1 class="news-title">Наши контакты.</h1>
                <p class="lead text-center mb-4">
                    На этой странице вы можете найти актуальные контакты ,чтобы связаться с нами по необъодимому вам вопросу.
                </p>
                
    
            </div>
        </div>
    </div>

<body>
    <div class="videopost-form">
    <div class="container-contact">
        <address>
            <p class="border lead text mb-4">
                    Тех поддержка.
                 </p>
            <abbr title="Почта">mail:</abbr> <a href="mailto:ogarkov_1980@inbox.ru">support@example.com</a><br />
            <abbr title="ВКонтакте">ВК:</abbr> <a href="https://vk.com/gabestore" target="_blank">Наша группа ВКонтакте</a><br />
             <p class="container-text">
                     Примерное время ответа состовляет от 15 минут до 1 часа.
                 </p>
        </address>
        <address>
            <p class="border lead text mb-4">
                    О сотрудничестве.
                 </p>
            <strong>Предложения:</strong> <a href="mailto:ogarkov_1980@inbox.ru">Support@example.com</a><br />
            <strong>Реклама:</strong> <a href="mailto:ogarkov_1980@inbox.ru">Marketing@example.com</a>
            <p class="container-text">
                     Примерное время ответа состовляет от 3 часов до 2 дней.
                 </p>
        </address>
    </div>
    </div>
</body>

{% endblock %}
