{% extends "app/layout.html" %}

{% block content %}
<div class="news-title">
    <h1>Отзывы</h1>
</div>
<div class="feedback-list">
    {% for feedback in feedbacks %}
    <div class="feedback-item">
        <h2>{{ feedback.nickname }}</h2>
        <p><strong>Игра:</strong> {{ feedback.game }}</p>
        <p><strong>Средняя оценка:</strong> {{ feedback.average_rating }}</p>
        <p><strong>Комментарий:</strong> <pre>{{ feedback.message }}</pre></p>
    </div>
    {% endfor %}
</div>
{% endblock %}