{% extends "app/layout.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="news-title">Видеоигры</h1>
    <div class="feedback-list">
        {% for feedback in feedbacks %}
        <div class="feedback-card mb-4">
            <div class="feedback-card-body">
                <h2 class="feedback-card-title">{{ feedback.nickname }}</h2>
                <p class="feedback-card-text"><strong>Игра:</strong> {{ feedback.game }}</p>
                <p class="feedback-card-text"><strong>Средняя оценка:</strong> {{ feedback.average_rating }}</p>
                <p class="feedback-card-text"><strong>Комментарий:</strong></p>
                <pre class="feedback-card-text">{{ feedback.message }}</pre>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

